<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite" parallel="tests">
    <test name="BookStoreTest" >
        <classes>
            <class name="BookStoreTest" />
        </classes>
    </test>

    <test name="TestBookTest" >
        <classes>
            <class name="TestBookCatalog" />
        </classes>
    </test>

    <test name="ShoppingCartTest" >
        <classes>
            <class name="ShoppingCart" />
        </classes>
    </test>

</suite>